<footer class="cs-footer">
    <div class="cs-container">
    <div class="cs-footer__item cs-footer__item-top-bar">
        <div class="cs-footer__item-inner">
        <div class="cs-footer__col cs-col-left">
            <div class="cs-logo">
            <a class="cs-footer__logo cs-logo-default" href="https://swyft.codesupply.co/lifestyle/">
                <img src="{{ asset('assets/logos/demo-logo-0002.webp') }}" alt="Lifestyle" srcset="{{ asset('assets/logos/demo-logo-0002.webp') }} 1x, {{ asset('assets/logos/demo-logo-0002@2x.webp') }} 2x">
            </a>
            <a class="cs-footer__logo cs-logo-dark" href="https://swyft.codesupply.co/lifestyle/">
                <img src="{{ asset('assets/logos/demo-logo-0002.webp') }}" alt="Lifestyle" srcset="{{ asset('assets/logos/demo-logo-dark-0002.webp') }} 1x, {{ asset('assets/logos/demo-logo-dark-0002@2x.webp') }} 2x">
            </a>
            </div>
            <div class="cs-footer__desc"> Welcome to ultimate source for fresh perspectives! Explore curated content to enlighten, entertain and engage global readers.</div>
        </div>
        <div class="cs-footer__col cs-col-center">
            <div class="cs-footer__nav-menu">
            <ul id="menu-footer" class="cs-footer__nav ">
                <li id="menu-item-2009" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2009">
                <a href="https://swyft.codesupply.co/lifestyle/category/lifestyle/">Lifestyle</a>
                </li>
                <li id="menu-item-2010" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2010">
                <a href="https://swyft.codesupply.co/lifestyle/category/travel/">Travel</a>
                </li>
                <li id="menu-item-2011" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2011">
                <a href="https://swyft.codesupply.co/lifestyle/category/technology/">Technology</a>
                </li>
                <li id="menu-item-2012" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2012">
                <a href="https://swyft.codesupply.co/lifestyle/category/trends/">Trends</a>
                </li>
            </ul>
            </div>
        </div>
        <div class="cs-footer__col cs-col-right">
            <div class="cs-social">
            <a class="cs-social__link" href="https://www.facebook.com/codesupplyco/" target="_blank">
                <img src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-facebook-0001.webp" alt="Facebook" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-facebook-0001.webp 1x, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-facebook-0001@2x.webp 2x">
            </a>
            <a class="cs-social__link" href="https://twitter.com/codesupplyco/" target="_blank">
                <img src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-twitter-new-0001.webp" alt="Twitter" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-twitter-new-0001.webp 1x, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-twitter-new-0001@2x.webp 2x">
            </a>
            <a class="cs-social__link" href="https://www.instagram.com/codesupply.co/" target="_blank">
                <img src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-instagram-0001.webp" alt="Instagram" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-instagram-0001.webp 1x, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-instagram-0001@2x.webp 2x">
            </a>
            <a class="cs-social__link" href="https://www.pinterest.com/envato/" target="_blank">
                <img src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-pinterest-0001.webp" alt="Pinterest" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-pinterest-0001.webp 1x, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-icon-pinterest-0001@2x.webp 2x">
            </a>
            </div>
        </div>
        </div>
    </div>
    <div class="cs-footer__item cs-footer__item-bottom-bar">
        <div class="cs-footer__item-inner">
        <div class="cs-footer__copyright"> ©️ 2023 — Swyft. All Rights Reserved.</div>
        </div>
    </div>
    </div>
</footer>